.upload{
    width: 120.38px; height: 38px; margin-left: 202px;
margin-top: -192px; background:linear-gradient(#005C97, #363795);color: #FFFFFF; border-radius: 8px;
}
.uploadLogo{
    width: 93px; height: 20px; margin-left: 25px; margin-top: 19.25px; font-size: 16px;color: #333333;font-weight: bold;
    padding-top: 5px;
}
.companyLogo{
    width: 100px; height: 18px; margin-left: 25px; margin-top: 17px; font-size: 14px;
}
.cancel{
    width: 120.38px; height: 38px; margin-top: -140px; margin-left: 
202px;background-color: #E6E6E6;color: black; border-radius: 8px;
}
.quickAccess{
    width: 100px; height: 20px; margin-left: 25px; margin-top: 19.25px; 
    color: black;font-size: 16px;font-weight: bold;padding-top: 5px;
}
.quickCard{
    width: 360px; height: 173px;margin-top: 15px;background-color: #FFFFFF;
}
.contactPersonDetails{
    width: 336px; height: 42px; margin-left: 12px;margin-top: 25.75px; 
color: white;background-color: #DEA01E;
}
.companyDetails{
    width: 113px; height: 18px; margin-left: 5px; margin-top: 10px;color: #004475; font-size: 14px;
}
.copyRight{
    width: 360px; height: 28.79px;background-color: #7998ac; margin-top: -8px;
}
.copyRightPara{
    width: 360px; height: 12px;color: #FFFFFF;font-size: 6px;
}
.employersText{
    height: 13px;margin-left: 27px;margin-top: 6.92px; font-size: 10px;
}
.jobSeekersText{
    height: 13px; margin-left: 60px; margin-top: 6.69px; font-size: 10px;
}
.browseText{
    height: 13px; font-size: 10px; margin-left: 96px;margin-top: 6.92px;
}
.infoText{
    height: 13px; font-size: 10px; margin-left: 127px; margin-top: 6.92px;
}
.jobClicks{
    width: 160px; height: 35px; margin-left: 90px; margin-top: 41.23px; font-size: 29px;
}
.jobClicksText{
    width: 380px; height: 40px; margin-left: 89px; margin-top: 11.35px;font-size: 10px; letter-spacing: 0.22px;
}
.footer{
    width: 360px; height: 285.42px; background: linear-gradient(#005C97, #363795);
}
.formSup{
    color: red;width: 6px;height: 15px;margin-left: 0.63px;text-align: left;letter-spacing: 0.11px;position: static;
}
.formIn{
    margin-top:20.25px; height: 38px; border-radius: 8px; border-width: 0.6px; border-color: #B2B2B2;
}
.formLabel{
    width: 105px; height: 18px; margin-left: 25.38px;font-size: 14px; margin-top: 17px;
}