<style>
 a:hover{
    color: khaki;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg" 
style="background: linear-gradient(#005C97, #363795); color: #FFFFFF; width: 1366px;position: fixed;">
  <a class="navbar-brand" href="#" >JOB Clicks</a>
  <sub style="width: 27px; height: 15px; font-size: 12px; margin-top: 25px; margin-left: -34px; color: #c5bba4;">logo</sub>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#" 
        style="margin-left: 613px; color: #FFFFFF;font-size: 14px; width: 39px;height: 18px;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #FFFFFF; font-size: 14px;margin-left: 22px;width: 22px;">Job</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #FFFFFF; font-size: 14px; margin-left: 22px; width: 52px;">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #FFFFFF; font-size: 14px; margin-left: 22px; width: 51px;">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #FFFFFF; font-size: 14px; margin-left: 22px; width: 29px">VMS</a>
      </li>
      <li>
        <a href="#"><img src="../assets/PNG/notification.png" alt="" 
          style="width: 17.03px; height: 19.43;margin-left: 52.3px;margin-top: 27.9;"></a>
      </li>
      <li>
        <button class="btn btn" style="background-color: #226d9d; width: 35px;height: 35px;margin-left: 28.67px;border-radius: 50%;">
          <span style="width: 14px; height: 20px;margin-left: 1px;margin-top: 11px;color: #FFFFFF;">RJ</span>
        </button>
        
      </li>
    </ul>
  </div>
</nav><br><br><br>
<img src="../assets/Image/Group 42297.png" alt="">
<!-------------------------------accordian----------------------------------------->
<p class="companyProfile">Company Profile</p>
<!------>
<div class="accordion" id="accordionExample"
            style="width: 784px; height: 49px;">
  <div class="accordion-item" style=" margin-left: 89px;">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" style="background:linear-gradient(#005C97, #363795); color: #FFFFFF;position: static;"
      type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Company Details
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form [formGroup]="requiredForm" novalidate>
        <label class="formLabel">Company Name</label>
        <sup class="formSup">*</sup>
        <input type="text"  name="companyname" formControlName="companyname" style="width: 362px;height: 38px; margin-left: 50px;
        margin-top: 28.75px;border-radius: 8px;border-width: 0.6px;border-color: #B2B2B2;">
        <!--Company Name--validation-->
        <div *ngIf="m.companyname.touched && m.companyname.invalid" class="alert alert-danger" 
                      style="width: 360px; margin-left: 190px; position: static;">
                        <div *ngIf="m.companyname.errors?.required">Please enter Company Name</div>
                        <div *ngIf="m.companyname.errors?.pattern">Company name contains only alphabetics and atleast 3 characters</div>
                      </div>
        <!----><br>
        <label class="formLabel" style="width: 123px;">Company Email ID</label>
        <sup class="formSup">*</sup>
        <input formControlName="companyEmailId" type="text" class="formIn" style=" width: 302px;margin-left: 38.63px;">
        <!--Company Email ID-validation-->
        <div *ngIf="m.companyEmailId.touched && m.companyEmailId.invalid" class="alert alert-danger" 
                      style="width: 302px; margin-left: 190px; position: static;">
                        <div *ngIf="m.companyEmailId.errors?.required">Please enter Company Email ID</div>
                        <div *ngIf="m.companyEmailId.errors?.pattern">Please Enter Valid Email Address</div>
                      </div>
        <!----><br>
        <label class="formLabel" style="width: 119px;">Company Website</label>
        <sup class="formSup">*</sup>
        <input type="text" formControlName="companywebsite" class="formIn" style=" width: 419px;margin-left: 36px;">
         <!--Company Website URL-validation-->
         <div *ngIf="m.companywebsite.touched && m.companywebsite.invalid" class="alert alert-danger" 
         style="width: 419px; margin-left: 190px; position: static;">
           <div *ngIf="m.companywebsite.errors?.required">Please enter Company website URL</div>
           <div *ngIf="m.companywebsite.errors?.pattern">Please Enter Valid URL</div>
         </div>
        <!----><br>
        <label class="formLabel" style="width: 107px;">About Company</label>
        <sup class="formSup">*</sup>
        <img src="../assets/PNG/Text controllers.png" alt="" style="width: 406px; margin-left: 50px; margin-top: -30px;">
        <textarea type="text" formControlName="aboutcompany" class="formIn" 
        style=" width: 428px;margin-left: 188.63px; height: 195px; margin-top: -10px;">
      </textarea>
        <!--About Company-validation-->
        <div *ngIf="m.aboutcompany.touched && m.aboutcompany.invalid" class="alert alert-danger" 
        style="width: 428px; margin-left: 190px; position: static;">
          <div *ngIf="m.aboutcompany.errors?.required">Please fill About Company field</div>
          <div *ngIf="m.aboutcompany.errors?.pattern">Please Enter atleast 50 characters About Company</div>
        </div>
        <!----><br>
        <label class="formLabel" style="width: 109px;">Contact Number</label>
        <sup class="formSup">*</sup>
       <select name="" id="" class="formIn" style="width: 67px; margin-left: 44px;" ><option value="">+1</option></select> 
       <input class="formIn" formControlName="contactno" type="text" style="width: 213px; margin-left: 10px;">
       <!--Contact Number-validation-->
       <div *ngIf="m.contactno.touched && m.contactno.invalid" class="alert alert-danger" 
       style="width: 213px; margin-left: 190px; position: static;">
         <div *ngIf="m.contactno.errors?.required">Please Enter Contact Number</div>
         <div *ngIf="m.contactno.errors?.pattern">Please Enter Valid 10 digits contact number</div>
       </div>
        <!----><br>
        <label class="formLabel" style="width:118px;">Alternate Number</label>
        <select name="" id="" class="formIn" style="width: 67px; margin-left: 44px;" ><option value="">+1</option></select>
        <input class="formIn" type="text" style="width: 213px; margin-left: 10px;">
        <!----><br>
        <label class="formLabel" style="width: 86px;">Industry Type</label>
        <sup class="formSup">*</sup>
        <input type="text" formControlName="industrytype" class="formIn" style=" width: 294px;margin-left: 69px;">
        <!--Industry Type-validation-->
       <div *ngIf="m.industrytype.touched && m.industrytype.invalid" class="alert alert-danger" 
       style="width: 294px; margin-left: 190px; position: static;">
         <div *ngIf="m.industrytype.errors?.required">Please Enter Industry Type</div>
         <div *ngIf="m.industrytype.errors?.pattern">Please Enter atleast 2 characters</div>
       </div>
        <!----><br>
        <label class="formLabel" style="width:52px;">Country</label>
        <sup class="formSup">*</sup>
        <input type="country" formControlName="country" class="formIn" style=" width: 261px;margin-left: 103.63px;">
        <!--Country-validation-->
       <div *ngIf="m.country.touched && m.country.invalid" class="alert alert-danger" 
       style="width: 261px; margin-left: 190px; position: static;">
         <div *ngIf="m.country.errors?.required">Please Enter Country Field</div>
         <div *ngIf="m.country.errors?.pattern">Please Enter atleast 3 characters</div>
       </div>
        <!----><br>
        <label class="formLabel" style="width: 34px;">State</label>
        <sup class="formSup">*</sup>
        <input type="text" formControlName="state" class="formIn" style=" width: 225px;margin-left: 121.63px;">
        <!--State-validation-->
       <div *ngIf="m.state.touched && m.state.invalid" class="alert alert-danger" 
       style="width: 225px; margin-left: 190px; position: static;">
         <div *ngIf="m.state.errors?.required">Please Enter State Field</div>
         <div *ngIf="m.state.errors?.pattern">Please Enter atleast 3 characters</div>
       </div>
         <!----><br>
         <label class="formLabel" style="width: 25px;">City</label>
         <sup class="formSup">*</sup>
         <input type="text" formControlName="city" class="formIn" style=" width: 225px;margin-left: 130.63px;">
          <!--City-validation-->
       <div *ngIf="m.city.touched && m.city.invalid" class="alert alert-danger" 
       style="width: 225px; margin-left: 190px; position: static;">
         <div *ngIf="m.city.errors?.required">Please Enter State Field</div>
         <div *ngIf="m.city.errors?.pattern">Please Enter atleast 3 characters</div>
       </div>
          <!----><br>
        <label class="formLabel" style="width: 130px;">Company Address 1</label>
        <sup class="formSup">*</sup>
        <input type="text" formControlName="companyaddress" class="formIn" style=" width: 440px;margin-left: 25.63px;">
        <!--Company Address 1-validation-->
        <div *ngIf="m.companyaddress.touched && m.companyaddress.invalid" class="alert alert-danger" 
        style="width: 440px; margin-left: 190px; position: static;">
          <div *ngIf="m.companyaddress.errors?.required">Please enter company Address</div>
          <div *ngIf="m.companyaddress.errors?.pattern">Please Enter atleast 4 characters</div>
        </div>
         <!----><br>
         <label class="formLabel" style="width: 132px;">Company Address 2</label>
         <sup class="formSup">*</sup>
         <input type="text" formControlName="companyaddress2" class="formIn" style=" width: 440px;margin-left: 22.63px;">
         <!--Company Address 2-validation-->
        <div *ngIf="m.companyaddress2.touched && m.companyaddress2.invalid" class="alert alert-danger" 
        style="width: 440px; margin-left: 190px; position: static;">
          <div *ngIf="m.companyaddress2.errors?.required">Please enter company Address</div>
          <div *ngIf="m.companyaddress2.errors?.pattern">Please Enter atleast 4 characters</div>
        </div>
          <!----><br>
        <label class="formLabel" style="width: 121px;">Map Location Link</label>
        <input type="text" class="formIn" style=" width: 395px;margin-left: 40.63px;">
         <!----><br>
         <label class="formLabel" style="width: 94px;">Facebook Link</label>
         <input type="text" class="formIn" style=" width: 395px;margin-left: 67.63px;">
         <!----><br>
         <label class="formLabel" style="width: 75px;">Twitter Link</label>
         <input type="text" class="formIn" style=" width: 395px;margin-left: 86.63px;">
         <!----><br>
         <label class="formLabel" style="width: 85px;">LinkedIn Link</label>
         <input type="text" class="formIn" style=" width: 395.38px;margin-left: 76.63px;">
        </form>
      </div>
    </div>
    
  </div>
  <div class="accordion-item" style=" margin-left: 89px;">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" style="background:linear-gradient(#005C97, #363795); color: #FFFFFF;position: static;"
       type="button" data-bs-toggle="collapse" 
      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Contact Person Details
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form [formGroup]="requiredForm" novalidate>
        <label class="formLabel" style="width: 141px;">Contact Person Name</label>
        <sup class="formSup">*</sup>
        <input type="text" formControlName="contactpersonname" class="formIn" style="width: 294px;height: 38px; margin-left: 14px;">
         <!--Contact Person Name-validation-->
         <div *ngIf="m.contactpersonname.touched && m.contactpersonname.invalid" class="alert alert-danger" 
         style="width: 294px; margin-left: 190px; position: static;">
           <div *ngIf="m.contactpersonname.errors?.required">Please enter Contact Person Name</div>
           <div *ngIf="m.contactpersonname.errors?.pattern">Please Enter atleast 3 characters</div>
         </div>
        <!------><br>
        <label class="formLabel" style="width: 105px;">Email for Communication</label>
        <sup class="formSup">*</sup>
        <input type="text" formControlName="email2" class="formIn"  style="width: 302px;height: 38px; margin-left: 50px;">
        <!--Email 2-validation-->
        <div *ngIf="m.email2.touched && m.email2.invalid" class="alert alert-danger" 
        style="width: 302px; margin-left: 190px; position: static;">
          <div *ngIf="m.email2.errors?.required">Please Enter Email</div>
          <div *ngIf="m.email2.errors?.pattern">Please Enter valid email address</div>
        </div>
        <!----><br>
        <label class="formLabel" style="width: 109px;">Contact Number</label>
        <select name="" id="" class="formIn" style="width: 67px; margin-left: 54px;" ><option value="">+1</option></select> 
       <input class="formIn" type="text" style="width: 213px; margin-left: 10px;">
        <!----><br>
        <label class="formLabel" style="width: 147px;">Job Title (Designation)</label>
        <input type="text" class="formIn"  style="width: 427px;height: 38px; margin-left: 14.63px;">
      </form>
      </div>
    </div>
    <!--cance and save profile--->
<div style="width: 784px;height: 89px;">
<button class="btn btn formCancel">Cancel</button>
<button class="btn btn saveProfile">Save Profile</button>
</div>
  </div>
  <!--Subscribe Our Newsletter-->
<div style="width: 1366px; height: 226.61px;background-color: #C5D3E3;">
<p class="subscribe">Subscribe Our Newsletter!</p>
<p class="subscribeText">It is a long established fact that a reader will be distracted by the readable content of a 
  page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
<input class="subscribeInput" type="email" placeholder="Enter your email address">
<input type="submit" style="margin-left: -128px; height: 38px; width: 127px; background: linear-gradient(#005C97, #363795);
border-radius: 8px; color: #FFFFFF; border-width: 1px;">
</div>
<!-----Footer---->
<div class="footer">
<div class="w3-row" style=" color: #FFFFFF;">
  <div class="w3-col m4">
    <p class="jobClicks">JOB Clicks</p>
    <p class="jobClicksText">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    <div class="w3-row">
      <div class="w3-col m6">
        <p style="width:51px; height: 13px; margin-left: 89px;font-size: 10px; margin-top: 11.76;">Contact us</p>
        <p style="width: 89px; height: 13px; margin-left:90.03px; font-size: 10px; margin-top: 10.19px;">
         <i class="fa fa-phone"></i> +1-202-555-0104</p>
        <p style="width: 110px; height: 13px; margin-left: 90.03px; margin-top: 6.7px; font-size: 10px;">
          <i class="fa fa-envelope"></i> example@gmail.com</p>
      </div>
      <div class="w3-col m6">
        <p style="width: 43px; height: 13px; margin-left: 60.88px; font-size: 10px;">Follow us</p>
        <a href="#" style="color: #FFFFFF;"><i style="width: 15.72; height: 15.72px; margin-left: 60.88px;" class="fa fa-facebook"></i></a>
       <a href="#" style="color: #FFFFFF;"> <i style="width: 18.12; height: 14.73px; margin-left: 12.02px;" class="fa fa-twitter"></i></a>
       <a href="#" style="color: #FFFFFF;"> <i style="width: 15.46; height: 15.46px; margin-left: 11.76px;" class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="w3-col m2">
    <p style="width: 67px; height: 15px; margin-left: 125px; font-size: 12px; margin-top: 39px;">Information</p>
    <p style="width: 41px; height: 13px; font-size: 10px; margin-left: 127px; margin-top: 9.9px;">About us</p>
    <p class="infoText" style="width: 103px;">Teams and Conditions</p>
    <p class="infoText" style="width: 64px;">Privacy Policy</p>
    <p class="infoText" style="width: 72px;">Careers with us</p> 
    <p class="infoText" style="width: 49px;">Contact us</p>
    <p class="infoText" style="width: 24px;">FAQs</p>
  </div>
  <div class="w3-col m2">
    <p class="browseText" style="width: 68px; height: 15px; font-size: 12px;margin-top: 39px;">Browse Jobs</p>
    <p class="browseText" style="width: 70px; margin-top: 9.9;">Browse all jobs</p>
    <p class="browseText" style="width: 46px;">Govt. Jobs</p>
    <p class="browseText" style="width: 82px;">International jobs</p>
    <p class="browseText" style="width: 53px;">Jobs in Gulf</p>
    <p class="browseText" style="width: 81px;">Jobs by Company</p>
    <p class="browseText" style="width: 92px;">Jobs by Designation</p>
    <p class="browseText" style="width: 76px;">Jobs by Location</p>
    <p class="browseText" style="width: 59px;">Jobs by Skills</p>
  </div>
  <div class="w3-col m2">
    <p  class="jobSeekersText" style="width: 61px; height: 15px; margin-top: 39px;font-size: 12px;">Jobseekers</p>
    <p class="jobSeekersText" style="width: 61px;height: 13px; margin-top: 9.9px; font-size: 10px;">Register Now</p>
    <p class="jobSeekersText" style="width: 50px;">Search Job</p>
    <p class="jobSeekersText" style="width: 25px;">Login</p>
    <p class="jobSeekersText" style="width: 74px;">Create Job Alert</p>
    <p class="jobSeekersText" style="width: 82px;">Report a Problem</p>
  </div>
  <div class="w3-col m2">
    <p  class="employersText" style="width: 59px;height: 15px;margin-top: 39px; font-size: 12px;">Employers</p>
    <p  class="employersText" style="width: 52px;height: 13px;margin-top: 9.9px; font-size: 10px;">Job Posting</p>
    <p class="employersText" style="width: 118px;">Resume Database Access</p>
    <p class="employersText" style="width: 70px;">Recruiter Login</p>
  </div>

</div>
<!--Copyright-->
<div class="copyRight">
<p class="copyRightPara">Copyright © 1990 - 2021 Dice. All rights reserved. Use of this site is subject to certain Terms and Conditions</p>
</div>
</div>
</div>

<!---Upload Logo------>
<div class="w3-card uploadCard">
<p class="uploadLogo">Upload logo</p>
<hr>
<p class="companyLogo">Company Logo</p>
<div style="width: 118px; height: 118px; margin-left: 26px; background-color: #EFEFEF; border-radius: 50%;">

</div>
<button type="submit" class="btn btn upload">Upload</button>
<button class="btn btn cancel">Cancel</button>
</div>
<!--------->
<div class="w3-card quickCard">
<p class="quickAccess">Quick Access</p>
<hr>
<a href="#" style="text-decoration: none;"><p class="companyDetails">Company Details
  <img src="../assets/PNG/done - green.png" alt=""
   style="width:15px; height: 15px; margin-left: 310px; margin-top: -40px;"></p></a>

<button class="btn btn contactPersonDetails"><span style="margin-left: -10px;" > Contact Person Details</span>
  <span style="padding-left: 170px;"><img src="../assets/PNG/done - white.png" alt=""></span>
</button>
</div>   

